# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
.env
.env.*
.venv/
venv/
pip-wheel-metadata/

# Data & models (adjust as needed)
data/
logs/
lstm_models/
*.h5
*.ckpt
*.pth
*.onnx

# OS/Editor
.DS_Store
.vscode/
.idea/

# Build/Dist
build/
dist/
