# reduce build context dramatically
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.log
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Venvs
venv/
.venv/

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.parcel-cache/
*.map

# Git & editors
.git/
.gitignore
.gitattributes
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data / models (if large)
compute/models/*
!compute/models/README.md

# Other large folders you don't need in image
public/
